---
import type { Card } from '~/types';

export interface Props {
    card: Card;
}

const { card } = Astro.props;
---

<div class="flex-col border-2 border-black rounded-lg">
  <div class="h-40">
    <img src={card.img}>
  </div>
  <div class="card__content">
    <h3>
      <a href={card.url}>{card.title}</a>
    </h3>
    <p>
      {card.contents}
    </p>
  </div>
</div>