---
import Item from '~/components/widgets/Card.astro';
import type { Card } from '~/types';

const { cards } = Astro.props;
---

<div class="flex flex-wrap justify-center">
    {
      cards.map((card) => (
      <div class="px-6 pt-16 pb-6 relative rounded-lg md:w-1/3">
          <Item card={card}/>
      </div>
      ))
    }
</div>