---
import Item from '~/components/widgets/Card.astro';
import type { Card } from '~/types';

const { cards } = Astro.props;
---

<div class="flex md:grid-cols-4 gap-10 bg-green-200">
    {
      cards.map((card) => (
      <div class="bg-red-300 relative rounded-lg border border-muted-200 dark:border-muted-800 bg-white dark:bg-muted-900 transition-all duration-300">
          <Item card={card}/>
      </div>
      ))
    }
</div>