---
import { Icon } from 'astro-icon';

interface Item {
  title: string;
  description: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  items: Array<Array<Item>>;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  items = [],
} = Astro.props;
---

<section class="px-20" id="needvideos">
    <div class="">
        <div class="title text-center px-4 pt-16 pb-4 mx-auto max-w-6xl lg:px-8 lg:pt-20 lg:pb-5">
            {
                (title && (
                    <div class="md:mx-auto text-center max-w-3xl">
                    
                    {title && (
                        <h2
                        class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
                        set:html={title}
                        />
                    )}

                    {subtitle && (
                        <p class="max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400" set:html={subtitle} />
                    )}
                    </div>
                    )
                )
            }
        </div>

        <div class="flex stats-div justify-center">
        {
            items.map((subitems) => (
            <div class="flex flex-wrap justify-center md:flex-nowrap">
                {subitems.map(({ title, description }) => (
                <div class="flex flex-row max-w-md">
                    <div class="m-2"></div>
                    <div class="m-4 py-6">
                        <h3 class="mb-3 text-7xl font-bold text-center">{title}</h3>
                        <p class="text-muted dark:text-slate-400" set:html={description} />
                    </div>
                </div>
                ))}
            </div>
            ))
        }
        </div>
    </div>
</section>