---
// import { Picture } from '@astrojs/image/components';
import Benefits from '~/components/widgets/Benefits.astro';
const { packages } = Astro.props;

// const bgImageSrc = `{ card.data.bgImage }` || "";
---

<div class="flex flex-wrap justify-center relative">
    {
        packages.map((card) => (

        <section class="scroll-mt-16 px-5 md:px-10 only:lg:px-20" id="packageList">
            <div class="bg-purple-200 flex flex-col lg:flex-row justify-center items-center lg:px-8 lg:py-20">
                <div class="w-full pb-10 lg:w-1/2 lg:pl-4 lg:backdrop:pr-8">
                    <h2 class="text-xl md:text-3xl font-bold leading-tighter tracking-tighter mb-4 font-heading" set:html={ card.data.title }/>
                    <p  set:html={ card.data.description1 } />
                    <br />
                    <p  set:html={ card.data.description2 } />
                </div>

                <div class="flex justify-center pb-10 lg:pl-8 lg:pr-4 w-full lg:w-1/2">
                    <video width="480" height="269" controls>
                        <source src={ card.data.video } type={ card.data.vidtype }>
                        Your browser does not support the video tag.
                    </video>
                </div>

                <div class="grid grid-col-2 grid-row-4 w-full -mx-20">

                    <div class="grid grid-rows-4 grid-cols-1">
                    {
                        card.data.benefitTitles?.map((benefit) => (
                            <p class="font-bold col-start-1" set:html={ benefit } />
                        ))
                    }
                    </div>

                    <div class="grid grid-rows-4 grid-cols-1">
                    {
                        card.data.benefitDescriptions?.map((description, i) => (
                            <p class="font-light col-start-2 " set:html={ description } />
                        ))
                    }
                    </div>
                
                </div>
            </div>



            <div>
               
                
            </div>




        </section>
        ))
    }
</div>

