---
const { packages } = Astro.props;
---

<div class="flex flex-wrap justify-center">
    {
        packages.map((card) => (

        <section class="scroll-mt-16 px-20" id="needvideos">
            <div class="flex justify-center lg:px-8 lg:py-20 ">
                <div class="w-1/2 px-4">
                    <div class="">
                        <h2 class="text-xl md:text-3xl font-bold leading-tighter tracking-tighter mb-4 font-heading" set:html={ card.data.title }/>
                        <p  set:html={ card.data.description1 } />
                        <br />
                        <p  set:html={ card.data.description2 } />
                    </div>
                </div>

                <div class="w-1/2">
                    <video width="480" height="269" controls>
                        <source src={ card.data.video } type={ card.data.vidtype }>
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </section>
        ))
    }
</div>

