---
// import { Picture } from '@astrojs/image/components';
import Benefits from '~/components/widgets/Benefits.astro';
const { packages } = Astro.props;

// const bgImageSrc = `{ card.data.bgImage }` || "";

---

<div class="flex flex-wrap justify-center relative">
    {
        packages.map((card) => (

        <section class="scroll-mt-16 px-5 w-full md:px-10 lg:px-20" id="packageList">
            <div class="flex flex-col lg:flex-row justify-center items-center lg:px-8 lg:py-20">
                <div class="w-full pb-10 lg:w-1/2 lg:pl-4 lg:backdrop:pr-8">
                    <h2 class="text-xl md:text-3xl font-bold leading-tighter tracking-tighter mb-4 font-heading" set:html={ card.data.title }/>
                    <p  set:html={ card.data.description1 } />
                    <br />
                    <p  set:html={ card.data.description2 } />
                </div>

                <div class="flex justify-center pb-10 lg:pl-8 lg:pr-4 w-full lg:w-1/2">
                    <video width="480" height="269" controls>
                        <source src={ card.data.video } type={ card.data.vidtype }>
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>

            { card.data.benefitTitleDescription && 
            
            <div class="lg:px-8">
                <div class="w-full pb-2 lg:w-1/2 lg:pl-4 lg:backdrop:pr-8">
                    <h2 class="text-xl md:text-3xl font-bold leading-tighter tracking-tighter mb-4 font-heading" set:html="Benefits" />
                </div>

                <div class="flex flex-col items-center justify-center flex-wrap max-w-full md:flex-row ">            
                
                    {
                        card.data.benefitTitleDescription?.map((listItem) => (
                        <div class="flex flex-col justify-center items-center mb-5">
                                <div class="mb-4">
                                    <img 
                                        src={ listItem[0] } 
                                        alt={ listItem[1] }
                                        class="bg-green-200 rounded-full p-10"
                                    />
                                </div>    


                                <div class="flex flex-col items-center justify-start w-56 h-28">   
                                    <p class="font-bold">{ listItem[2] }</p>
                                    <p class="text-center px-10 py-2">{ listItem[3] }</p>
                                </div> 
                            </div>
                        ))
                    }
                </div>
            </div>
            }

        </section>
        ))
    }
</div>

