---
// import { Picture } from '@astrojs/image/components';
import Benefits from '~/components/widgets/Benefits.astro';
const { packages } = Astro.props;

// const bgImageSrc = `{ card.data.bgImage }` || "";

const servicesImgSrc = `{ card.data.servicesImage}`

let backgroundColor = "gray-100";

---
<script>
    function removeHiddenClass(divID) {

        const showHideDivID = divID + "1";

        const el = document.getElementById(showHideDivID);
        
        if (el?.classList.contains("hidden")) {
            el?.classList.remove("hidden");
            el?.classList.add("flex");
        } else {
            el?.classList.remove("flex");
            el?.classList.add("hidden");
        }
    }
    
    const schedulerButtons = document.querySelectorAll('button.schedulerButton');

    schedulerButtons.forEach((button) => {
        button.addEventListener('click', () => {
            alert('Add link to scheduler')
        })
    })

    const showDivButtons = document.querySelectorAll('button.showDivButton');

    showDivButtons.forEach((button) => {
        let divID = button.id;
    
        button.addEventListener('click', () => removeHiddenClass(divID));
    })


</script>


<div class={`flex flex-wrap justify-center relative bg-${ backgroundColor }`}>
    {
        packages.map((card, i) => (

        <section class="scroll-mt-16 px-5 w-full md:px-10 lg:px-20 border-b-4 pb-4" id="packageList">

            <div class="flex flex-col justify-center items-center py-4 lg:flex-row lg:px-8">
                <div class="w-full pb-10 lg:w-1/2 lg:pl-4 lg:backdrop:pr-8">
                    <h2 class="text-xl md:text-3xl font-bold leading-tighter tracking-tighter mb-4 font-heading" set:html={ card.data.title }/>
                    <p  set:html={ card.data.description1 } />
                    <br />
                    <p  set:html={ card.data.description2 } />
                </div>

                <div class="flex justify-center pb-8 lg:pl-8 lg:pr-4 w-full lg:w-1/2">
                    <video width="480" height="269" controls>
                        <source src={ card.data.video } type={ card.data.vidtype }>
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>

            { card.data.benefitTitleDescription && 
            
            <div class="lg:px-8" id="benefitsDiv">
                <div class="w-full lg:pl-4 lg:backdrop:pr-8">
                    <button id={`${ card.data.benefitTitleDescription} + Btn`} class="text-xl border-2 rounded w-full px-4 py-2 md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading showDivButton" set:html="Benefits"></button>
                </div>

                <div class="hidden flex-col items-center justify-center flex-wrap max-w-full md:flex-row " id={`${ card.data.benefitTitleDescription} + Btn1`}>            
                
                    {
                        card.data.benefitTitleDescription?.map((listItem) => (
                        <div class="flex flex-col justify-center items-center mb-5">
                                <div class="mb-4">
                                    <img 
                                        src={ listItem[0] } 
                                        alt={ listItem[1] }
                                        class="bg-green-200 rounded-full p-10"
                                    />
                                </div>    


                                <div class="flex flex-col items-center justify-start w-56 h-28">   
                                    <p class="font-bold">{ listItem[2] }</p>
                                    <p class="text-center px-10 py-2">{ listItem[3] }</p>
                                </div> 
                            </div>
                        ))
                    }
                </div>
            </div>
            }

            { card.data.includedServices &&
            <div class="lg:px-8 pt-2 " id="includedServicesDiv">
                <div>
                    <div class="w-full pb-2 lg:pl-4 lg:backdrop:pr-8">
                        <button id={`${ card.data.includedServices} + Btn`} class="text-xl border-2 rounded w-full px-4 py-2 md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading showDivButton" set:html="Included Services" />
                    </div>
                </div>
            

                <div id={`${ card.data.includedServices} + Btn1`} class="hidden justify-start flex-wrap md:backdrop:pr-8 md:bg-[url('../../src/assets/images/camera-man.png')] bg-hero bg-no-repeat bg-contain bg-right">            
                    
                    {
                        card.data.includedServices?.map((service) => (
                            <div class="flex mb-2 pb-2 lg:pl-4 text-left">
                                <p class="w-full md:w-1/2 lg:w-2/3" set:html={ service }/>
                            </div>
                            ))
                    }
                </div>

                <div class="flex justify-center md:pl-4 ">
                    <button class="px-8 py-2 rounded-full bg-indigo-900 schedulerButton">
                        <p class="text-white" set:html="Schedule a Consultation" />
                    </button>    
                </div>
            </div>
            }

        </section>
        ))
    }
</div>



