---
interface Item {
    text1: string;
    text2: string;
}

export interface Props {
    title?: string;
    items?: Array<Array<Item>>;
}

const {
    title = await Astro.slots.render('title'),
    items = [],
} = Astro.props;
---

<section class="scroll-mt-16 px-20" id="supercharge">
    <div>
        <div class="title text-center px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
            {title && (
                <h2
                class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
                set:html={title}
                />
            )}
        </div>

        <div class="text-blocks">
            {
                items.map((subitems) => (
                <div class="flex">
                    {subitems.map(({ text1, text2 }) => (
                        <div class="">
                            <div class="m-5">
                                <p class="text-muted dark:text-slate-400" set:html={ text1 } />
                                <br/>
                                <p class="text-muted dark:text-slate-400" set:html={ text2 } />
                            </div>
                        </div>
                    ))}
                    <div>
                        
                    </div>    
                </div>
                ))
            }

        </div>
    </div>


</section>