---
import { Picture } from '@astrojs/image/components';
import { findImage } from '~/utils/images';

interface Item {
    photo: string;
    alt: string;
    quote: string;
    name: string;
    role: string;
}

export interface Props {
    title?: string;
    highlight?: string;
    items?: Array<Array<Item>>;
}

const {
  title = await Astro.slots.render('title'),
  highlight,
  items = [],
} = Astro.props;

---

<section class="scroll-mt-16 px-20" id="testimonials">
    <div>
        <div class="title">
            <h3 class="text-center text-base text-primary dark:text-blue-200 font-semibold tracking-wide uppercase" set:html={ highlight } />
            <br />
            <h1 class="text-center text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading" set:html={ title } />
        </div>

        <div class="testimonial-cards flex flex-wrap lg:flex-nowrap">
            {
                items.map((subitems) => (
                <div class="flex flex-wrap">
                    {subitems.map(({ photo, alt, quote, name, role }) => (
                    <div class="md:w-1/3">
                        <div class="quote-card flex flex-col p-4 lg:p-12">
                            <div class="icon-div flex justify-start md:w-1/3">
                                <Picture
                                    src={photo}
                                    class="max-w-full lg:max-w-6xl mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
                                    widths={[400, 900]}
                                    sizes="(max-width: 900px) 400px, 900px"
                                    alt={alt}
                                    loading="eager"
                                    aspectRatio={16 / 9}
                                    width={900}
                                    height={506}
                                    loading="eager"
                                    decoding="async"
                                />
                            </div>
                            
                            <div class="text-div flex justify-start flex-col">
                                <p class="mb-3 pt-4 text-md md:text-lg" set:html={ quote } />
                                <p class="font-bold pt-2" set:html={ name } />
                                <p class="text-muted text-sm dark:text-slate-400" set:html={ role } />
                            </div>
                            
                        </div>
                    </div>
                    ))}
                </div>
                ))
            }

        </div>
    </div>

</section>