---
interface Item {
    photo: string;
    alt: string;
    quote: string;
    name: string;
    role: string;
}

export interface Props {
    title?: string;
    highlight?: string;
    items?: Array<Array<Item>>;
}

const {
  title = await Astro.slots.render('title'),
  highlight,
  items = [],
} = Astro.props;
---

<section class="scroll-mt-16 px-20" id="testimonials">
    <div>
        <div class="title">
            <h3 class="text-center text-base text-primary dark:text-blue-200 font-semibold tracking-wide uppercase" set:html={ highlight } />
            <br />
            <h1 class="text-center text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading" set:html={ title } />
        </div>

        <div class="testimonial-cards">
            {
                items.map((subitems) => (
                <div class="flex pl-10">
                    {subitems.map(({ photo, alt, quote, name, role }) => (
                    <div class="flex flex-row max-w-md w-1/3">
                        <div class="quote-card flex flex-col mx-6 p-4">
                            <div class="icon-div flex justify-start w-1/3">
                                <img src={ photo } alt={ alt } class="block rounded-full my-2 border-indigo-900 border-2"/>
                            </div>
                            
                            <div class="text-div flex justify-start flex-col">
                                <p class="mb-3 pt-4 text-lg" set:html={ quote } />
                                <p class="font-bold pt-8" set:html={ name } />
                                <p class="text-muted text-sm dark:text-slate-400" set:html={ role } />
                            </div>
                            
                        </div>
                    </div>
                    ))}
                </div>
                ))
            }

        </div>
    </div>

</section>