---
import { getCollection } from 'astro:content';
import { Picture } from '@astrojs/image/components';
import Layout from '~/layouts/PageLayout.astro';
import { findImage } from '~/utils/images';
import type { Course } from '~/types';

const courses = await getCollection('courses', ({ data }) => {
    return data.draft !== true;
});

const { courseProp } = Astro.props;

const meta = {
    title: courseProp?.title,
    image: await findImage(courseProp?.image)
}

export interface Props {
    course: Course;
}

---
<Layout { meta }>
    <h1>Courses</h1>
    <div>
        <Picture
            src='../../src/assets/images/camera-man.png'
            class="max-w-full lg:max-w-6xl mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt={ "test alt" }
            loading="eager"
            aspectRatio={16 / 9}
            width={900}
            height={506}
            loading="eager"
            decoding="async"
            background={undefined}
        />

        {
            courses?.map((course, i) => (
                <div>
                    { course.title }
                </div>


            ))
        }
    </div>



</Layout>

